<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link rel="stylesheet" href="styles/main.css" />
    <title>Centered White Div with Item Cards</title>
  </head>
  <body>
    <div class="container">
      <h1 style="color: #d2d2d2">TO-DO LIST</h1>
      <form action="/submit" class="item-card" , method="POST">
        <input type="text" name="task" placeholder="Add task" />
        <button class="submit-button" formmethod="post">
          <span class="material-symbols-outlined"> add </span>
        </button>
      </form>
      <% if (locals.list) {for (var i = 0; i < list.length; i++) { %> <%-
      list[i] %> <% } } %>
    </div>
  </body>
</html>
